@media only screen and (min-width: 390px) {
   .speaker_profile{
        margin-left: 5rem;
        margin-right: 5rem;
   }
}

/* @media only screen and (max-width: 440px) {
   .speaker_profile{
        margin-left: 5rem;
        margin-right: 5rem;
   }
} */
