.test-head {
  text-align: center;
  padding: -4% 2% 10% 2%;
  margin: 5%;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* background: #fff; */

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100vw;
  height: 100%;
  object-fit: cover;
}

.swip-slide {
  display: flex;
  /* background-color: #f9f9ff; */
  width: 100%;
  margin: 15%;
  /* box-shadow: 40px 20px 20px 10px grey; */
}


.slide-content {
  text-align: left;

  margin-left: 20px;
  /* margin-top: auto; */
}

.slide-p1 {
  font-size: 15px;

}

.slide-h1 {
  font-size: 18px;
  color: #04091e;
}

.slide-h2 {
  font-size: 16px;
}

.slide-img {
  width: 120vw;
  height: 300px;
  /* margin-top: 1%;   */
}

/* .home-text{
  margin: 0;
} */

@media only screen and (max-width: 1940px) {
  .slide-img {
      width:100vw;
      height: 35rem;
      margin-top: auto;
  }
}

@media only screen and (max-width: 1500px) {
  .slide-img {
      width: 100vw;
      height: 22rem;
      margin-top: auto;
  }
}

@media only screen and (max-width: 1120px) {
  .slide-img {
      width: 200vw;
      height: 60vh;
      margin-top: auto;
  }
}

@media only screen and (max-width: 800px) {
  .slide-img {
      width: 700vw;
      height: 60vh;
      margin-top: 15%;
  }

  .slide-content {
      margin-top: 0%;
  }
}

@media only screen and (max-width: 620px) {
  .swip-slide {
      display: block;
  }

  .slide-content {
      margin-top: 10%;
  }

  .slide-img {
      width: 100%;
      height: 60vh;
      /* height: 30vh; */
  }
}

@media only screen and (max-width: 480px) {
  .slide-img {
      width: 80vw;
      height: 60vh;
  }
}