
.main{
    text-align: center;
    width:100vw;
    color: #fff;
   
}

.tracks{
    width: 28vw;
    background-color: #756dc9;
    border-radius: 10px;
    padding: 15px;
    color: #fff;
    margin: 25px 15px 15px 15px;
    text-align: left;
    /* height:60vh; */
}

.row{
    display: flex;
    justify-content: center;
}

.heading{
    text-align: center;
}
.heading-top{
    font-size: 70px;
    font-family: 'Spicy Rice', cursive;
    font-weight:400;
    line-height: 96.52px;
}

li{
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 500;
    font-size: 25px;
}

.heading-btm{
    font-family: 'Staatliches', cursive;
    font-weight:400;
    font-size: 40px;
}

.tracks-header{
    display: inline-flex;
    justify-content: center;
}

.logo{
    margin: 5px ;
    




}